<!DOCTYPE html>
<html>
    <head>
        <title>Board Game</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="row">
            <div class="column">
                <div class="top resign" style="
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;"
                    id="resingB">
                    <p id="timerB" class="timer"></p>
                </div>
                <input id="resingB" type="button" value="RESING"/>
            </div>
            <div class="board_column">
                <div id="chessboard"></div>
            </div>
            <div class="column">
                <div class="bottom resign" style="
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;"
                    id="resingW">
                    <p id="timerW" class="timer"></p>
                </div>
            </div>
        </div>

        <div id="game-start-modal" class="modal" style="display: block;">
            <div class="modal-container" id="start">
                START
            </div>
        </div>
        
        <div id="game-over-modal" class="modal" style="display: none;">
            <div class="modal-container">
                <p>Game over! Player X wins!</p>
                <input id="reset" type="button" value="RESET" />
            </div>
        </div>
    
        <script type="module" src="static/consts.js"></script>
        <script type="module" src="static/app.js"></script>
        <script type="module" src="static/utils.js"></script>
    </body>
</html>
